@import "_colors";
*[text-left] {
    text-align: left;
}


@mixin has-white-link() {
    a {
        color: $white1;
        text-decoration: none;
        &:hover {
            color: color($C2, a700);
            text-decoration: underline;
        }
    }
}
@mixin has-grey-link() {
    a {
        color: $black2;
        text-decoration: none;
        &:hover {
            color: color($C1, 700);
            text-decoration: underline;
        }
    }
}
@mixin has-primary-link() {
    a {
        color: color($C2, 500);
        text-decoration: none;
        &:hover {
            color: color($C2, a700);
            text-decoration: underline;
        }
    }
}




@mixin config-link-on-primary-color() {
    a {
        color: $white1;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

@mixin config-link-on-white-color() {
    a {
        color: $black1;
        text-decoration: none;
        &:hover {
            color: color($C1, 500);
            text-decoration: underline;
        }
    }
}

@mixin has-paper-spinner() {
    paper-spinner::shadow .circle {
        border-color: color($C2, a700);
    }
}
@mixin has-simple-table() {
    table.simple {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0px;
        td, th {
            padding: 4px 4px;
            text-align: right;
        }
        thead {
            color: $black1;
            font-weight: bold;
        }
        tr {
            border-bottom: 1px solid color($grey, 100);
        }
        tbody {
            tr:hover {
                background: color($C2, 100);
            }
        }
        tfoot {
            tr {
                background: color($grey, 100);
            }
        }
    }
}
@mixin has-paper-toggle-button($color) {
    paper-toggle-button::shadow {
        paper-radio-button::shadow {
            #ink[checked] {
                color: color($color, 700);
            }
            #ink {
                color: color($color, 500);
            }
            #onRadio {
                background-color: color($color, 500);
            }
            #offRadio {
                background-color: $black4;
            }
        }
        #toggleBar {
            background-color: $black2;
        }
        #toggleBar[checked] {
            background-color: color($color, 500);
        }
        #toggleContainer[disabled] {
            opacity: 0.7;
            pointer-events: none;
        }
    }
}
@mixin has-background-image($img) {
    background: url($img) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@mixin config-toolbar() {
    background: white;
    color: $black1;
    a {
        height: 40px;
        text-decoration: none;
        font-size: 14px;
    }
    core-button, paper-button, paper-icon-button {
        color: $black1;
        margin: 0;
        min-width: 0;
        text-transform: uppercase;
        font-size: 14px;
        &:hover {
            color: color($C2, a700);
        }
        &[active] {
            color: black;
            font-weight: bold;
        }
    }
    #label {
        color: $black1;
        font-weight: bold;
    }
}
@mixin config-toolbar-dark() {
    background: color($C1, 500);
    color: $white1;
    a {
        height: 40px;
        text-decoration: none;
        font-size: 14px;
    }
    core-button, paper-button, paper-icon-button {
        color: $white1;
        margin: 0;
        min-width: 0;
        text-transform: uppercase;
        font-size: 14px;
        &:hover {
            color: color($C2, a700);
        }
        &[active] {
            color: white;
            font-weight: bold;
        }
    }
    #label {
        color: $white1;
        font-weight: bold;
    }
}
