@import "_colors";
@mixin has-white-link() {
    a {
        color: $white1;
        text-decoration: none;
        &:hover {
            color: color($C2, a700);
            text-decoration: underline;
        }
    }
}
@mixin has-grey-link() {
    a {
        color: $black2;
        text-decoration: none;
        &:hover {
            color: color($C1, 700);
            text-decoration: underline;
        }
    }
}
@mixin has-primary-link() {
    a {
        color: color($C2, 500);
        text-decoration: none;
        &:hover {
            color: color($C2, a700);
            text-decoration: underline;
        }
    }
}
@mixin has-paper-spinner() {
    paper-spinner[aria-hidden=true] {
        display: none;
    }
    paper-spinner::shadow .circle {
        border-color: color($C1, 500);
    }
}
@mixin has-simple-table() {
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0px;
    }
    td, th {
        padding: 10px 4px;
        text-align: right;
    }
    thead {
        color: $black1;
        font-weight: bold;
    }
    tr {
        border-bottom: 1px solid color($C1, 50);
    }
    tbody {
        tr:hover {
            background: color($C2, a100);
        }
    }
    tfoot {
        tr {
            background: color($C1, 50);
        }
    }
}
@mixin has-paper-toggle-button($color) {
    paper-toggle-button::shadow {
        paper-radio-button::shadow {
            #ink[checked] {
                color: color($color, 700);
            }
            #ink {
                color: color($color, 500);
            }
            #onRadio {
                background-color: color($color, 500);
            }
            #offRadio {
                background-color: $black4;
            }
        }
        #toggleBar {
            background-color: $black2;
        }
        #toggleBar[checked] {
            background-color: color($color, 500);
        }
        #toggleContainer[disabled] {
            opacity: 0.7;
            pointer-events: none;
        }
    }
}
@mixin has-background-image($img) {
    background: url($img) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@mixin config-toolbar() {
    background: white;
    color: color($C1, 700);
    a {
        height: 40px;
        text-decoration: none;
        font-size: 14px;
        color: color($C1, 700);
        font-weight: 500;
        &:hover {
            color: color($C2, a700);
        }
        core-button[active] {
            color: color($C2, a700);
        }
        &:hover {
            core-button {
                color: color($C2, a700);
            }
        }
    }
    core-button, paper-button, paper-icon-button {
        color: color($C1, 700);
        margin: 0;
        min-width: 0;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 14px;
        &[active] {
            color: color($C2, a700);
        }
        &:hover {
            color: color($C2, a700);
        }
    }
    #label {
        color: color($C1, 700);
        font-weight: 700;
    }
}
@mixin config-toolbar-dark() {
    background: color($C1, 800);
    color: $white2;
    a {
        height: 40px;
        text-decoration: none;
        font-size: 14px;
        color: white;
        font-weight: 500;
        &:hover {
            color: color($C2, a700);
        }
        core-button[active] {
            color: color($C2, a700);
        }
        &:hover {
            core-button {
                color: color($C2, a700);
            }
        }
    }
    core-button, paper-button, paper-icon-button {
        color: $white2;
        margin: 0;
        min-width: 0;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 14px;
        &[active] {
            color: color($C2, a700);
        }
        &:hover {
            color: color($C2, a700);
        }
    }
    #label {
        color: white;
        font-weight: 700;
    }
}
