@font-face {
    font-family: 'Roboto Condensed';
    font-weight: 300;
    font-style: normal;
    src: local('RobotoCondensed-Light'), local('Roboto Condensed Light'), url('/styles/RobotoCondensed-Light.ttf');
}
@font-face {
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-style: normal;
    src: local('RobotoCondensed-Regular'), local('Roboto Condensed Regular'), url('/styles/RobotoCondensed-Regular.ttf');
}
@font-face {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-style: normal;
    src: local('RobotoCondensed-Bold'), local('Roboto Condensed Bold'), url('/styles/RobotoCondensed-Bold.ttf');
}
@mixin condensed-font() {
    font-family: 'Roboto Condensed', 'Lantinghei SC', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
}
