@import "_colors";
@import "_common";
#main {
    #error {
        color: $black1;
        height: 100vh;
        font-size: 14px;
        @include has-paper-spinner();
        core-icon {
            color: color($C2, a700);
            height: 28px;
            width: 28px;
        }
        &[hide] {
            display: none;
        }
    }
    > the-router {
        opacity: 0.0;
        transition: opacity 420ms ease-in;
        &[show] {
            opacity: 1.0;
        }
    }
}
