@import "_colors";
:host {
background: green;
    #errorToast {
        background: color($red, 500);
        color: $white1;
    }
        #warningToast {
        background: color($orange, 500);
        color: $white1;
    }
    #messageToast {
        background: color($C2, 500);
        color: $white1;
    }
}
