@import "../elements/_colors";
@import "../elements/_fonts";
html {
    @include condensed-font();
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: $body-color;
    color: $white1;
}
a {
    color: $black2;
    text-decoration: none;
    &:hover {
        color: color($C1, 500);
        text-decoration: underline;
    }
}
#loading {
    z-index: -1999998;
    color: white;
    font-size: 14px;
}
