@import "../elements/_colors";
@import "../elements/_fonts";
html {
    @include condensed-font();
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    color: $white1;
}
a {
    color: $black2;
    text-decoration: none;
    &:hover {
        color: color($C1, 500);
        text-decoration: underline;
    }
}
#loading {
    z-index: -1999998;
    color: $white1;
    font-size: 14px;
}

