@import "../elements/_colors";
@import "../elements/_common";
html {
    @include condensed-font();
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    color: $white1;
}
a {
    color: $black2;
    text-decoration: none;
    &:hover {
        color: color($C1, 500);
        text-decoration: underline;
    }
}
#loading {
    color: $black1;
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -150px;
    width: 300px;
    height: 150px;
    font-family: ‘Arial Narrow’, sans-serif;
}
