@import "../elements/_colors";
//    @font-face {
//        font-family: 'Roboto Condensed';
//        font-weight: 300;
//        font-style: normal;
//        src: local('RobotoCondensed-Light'), local('Roboto Condensed Light'), url('/styles/RobotoCondensed-Light.ttf');
//    }
@font-face {
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-style: normal;
    src: local('RobotoCondensed-Regular'), local('Roboto Condensed Regular'), url('/styles/RobotoCondensed-Regular.ttf');
}

//   @font-face {
//        font-family: 'Roboto Condensed';
//        font-weight: 700;
//        font-style: normal;
//        src: local('RobotoCondensed-Bold'), local('Roboto Condensed Bold'), url('/styles/RobotoCondensed-Bold.ttf');
//    }
@mixin condensed-font() {
    font-family: 'Roboto Condensed', "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

html {
    @include condensed-font();
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: $white1;
}

a {
    color: $black2;
    text-decoration: none;
    &:hover {
        color: color($C1, 500);
        text-decoration: underline;
    }
}

#loading {
    color: $black1;
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -150px;
    width: 300px;
    height: 150px;
    font-family: ‘Arial Narrow’, sans-serif;
    #zh, #en {
        display: none;
    }
}
