@import "_fonts";
@import "../elements/_colors";
html {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,body {
  background: $primary;
}
