@import "../../../_colors";
@mixin config($color) {
    :host {
        //border-top: solid 2px $color;
        display: block;
        height: 100%;
    }
    core-field {
        font-weight: 500;
        padding: 2px;
        margin: 2px 0;
        background: $black4;
        label {
            min-width: 80px;
            font-weight: 700;
            text-align: right;
            text-transform: uppercase;
            color: $black2;
            padding-right: 14px;
        }
        .input[type='number'] {
            padding: 5px;
            font-weight: 700;
            font-size: 14px;
            background: $white1;
            border-bottom: solid 1px $magic-grey;
            color: $color;
            letter-spacing: 1px;
        }
    }
    #action {
        margin-top: 20px;
        min-width: 180px;
        font-size: 14px;
        font-weight: 800;
        height: 40px;
        &::shadow #ripple {
            color: $white1;
        }
        background: $black1;
        color: $white1;
        &:hover {
            background: $color;
            color: $white1;
        }
    }
    @media (min-width: 768px) {
        core-field {
            margin: 5px 0;
            .input[type='number'] {
                padding: 10px;
            }
        }
        #action {
            background: $white1;
            color: $color;
            transition: background 420ms ease-in-out,color 420ms ease-in-out;
            &:hover {
                background: $color;
                color: $white1;
            }
        }
    }
}
