@import "../../_colors";
@import "../../_common";
:host {
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.canvas {
    padding-top: 10px;
    width: 100%;
}
.groupLabel {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 500;
    color: $white2;
    text-transform: uppercase;
}
.comment {
    padding-bottom: 10px;
    font-size: 12px;
    color: $white3;
}
stats-card {
    width: 100%;
    max-width: 400px;
}
@include has-paper-spinner();
@media(min-width: 768px) and (max-width: 991px) {
    .canvas {
        width: 768px;
    }
    stats-card {
        width: 50%;
    }
}
@media(min-width: 992px) and (max-width: 1199px) {
    .canvas {
        width: 992px;
    }
    stats-card {
        width: 33%;
    }
}
@media(min-width: 1200px) {
    .canvas {
        width: 1200px;
    }
    stats-card {
        width: 25%;
    }
}
