@import "../../_colors";
:host(:hover) {
    #item {
        color: white;
        background: color($C2, 500);
    }
}
:host([active]) {
    #item {
        color: white;
        background: color($C1, 700);
        cursor: default;
    }
}
#item {
    color: white;
    font-size: 13px;
}
#link {
    text-decoration: none;
    color: $black2;
}
