@import "../../_colors";
//
$C1: $C1;
@mixin config-color($color) {
    #currency-tabs {
        &::shadow {
            #tabsContainer {
                background: color($color, 700);
            }
            #selectionBar {
                background-color: color($C2, a400);
            }
        }
    }
    #pages {
        background: color($color, 500);
    }
}
#currency-tabs {
    font-size: 13px;
    font-weight: 500px;
    height: 64px;
    &::shadow {
        #tabsContainer {
            background: color($C1, 500);
            color: white;
        }
        #selectionBar {
            background-color: color($C2, a400);
        }
    }
    >paper-tab::shadow #ink {
        color: white;
    }
}
#pages {
    core-menu {
        color: white;
    }
}
