@import "../_colors";
:host {
    box-sizing: border-box;
}
#branding {
    padding: 20px 0;
    width: 100%;
    #name {
        font-size: 72px;
        text-transform: uppercase;
        color: $white2;
    }
    #slogan {
        font-size: 16px;
        color: $white3;
    }
}
#form-container {
    width: 100%;
    padding: 20px 0;
}
@media(min-width:320px) {
    #widget {
        width: 320px;
    }
}
