@import "../_colors";
@import "../_common";
:host {
    box-sizing: border-box;
}
cp-page {
    background: transparent;
}
#container {
    width: 100%;
}
.section {
    min-height: 360px;
    padding: 0;
    position: relative; // important
    overflow: hide;
}
@include has-primary-link();
#branding {
    background: color($C2, 500);
    color: white;
    text-shadow: 1px 1px $black3;
    width: 100%;
    position: relative;
    #name {
        font-size: 72px;
        text-transform: uppercase;
        color: $white1;
        padding: 40px;
        font-weight: bold;
    }
    #slogan {
        font-size: 26px;
        color: white;
        border-bottom: 2px solid $white1;
        font-weight: bold;
    }
    .backstretch:before {
        content: "";
        width: 100%;
        height: 100%;
        background: url("/images/bg-overlay.png");
        position: absolute;
    }
}
#features {
    background: white;
    color: $black2;
    .feature {
        padding: 20px;
        .label {
            text-transform: uppercase;
            font-size: 28px;
            font-weight: 700;
            padding: 20px;
            color: color($C2, a700);
        }
        .explain {
            font-size: 14px;
            line-height: 150%;
            padding: 0 20px;
            color: $black1;
        }
    }
}
#mobile {
    color: white;
    background-color: color($grey, 50);
    #words {
        #ready {
            font-size: 28px;
            font-weight: 700;
            padding: 20px;
            text-shadow: 1px 1px $black3;
        }
        #download {
            color: $white1;
            background: color($C2, 500);
            min-width: 200px;
            font-weight: 700;
            font-size: 20px;
            text-transform: none;
            &:hover {
                background: color($C3, 500);
            }
        }
        #supports {
            padding: 10px;
            font-size: 14px;
        }
    }
    img#android-app {
        height: 80%;
        transition: 5s cubic-bezier(0, 1, 1, 1);
    }
    .backstretch:before {
        content: "";
        width: 100%;
        height: 100%;
        background: url("/images/bg-overlay.png");
        position: absolute;
    }
}
#powered {
    padding: 20px 40px;
    background: $black1;
    color: $white1;
    font-weight: 500;
    text-align: center;
}
#form-container {
    width: 100%;
    padding: 20px 0;
}
@media(min-width: 768px) {
    .section {
        padding: 80px 0;
    }
    #mobile {
        img#android-app {
            position: absolute;
            bottom: 0;
            height: 80%;
        }
    }
}
