@import "../_colors";
:host {
    box-sizing: border-box;
}
#footer {
    display: none;
}
#branding {
    padding: 40px 0;
    background: $primary;
    width: 100%;
    #name {
        font-size: 56px;
        text-transform: uppercase;
        color: $secondary;
    }
    #slogan {
        font-size: 12px;
        color: lighten($secondary, 10%);
    }
}
#form {
    width: 100%;
    padding: 20px 0;
    background: $magic-grey;
}
@media(min-width: 768px) {
    #footer {
        display: inherit;
    }
    #branding {
        padding: 20px 0;
        #name {
            font-size: 100px;
        }
        #slogan {
            font-weight: 100;
            font-size: 22px;
        }
    }
}
