@import "../_colors";
@import "../_layout";

$primary: $color1;
$text-color: black;

:host {
  background: $primary;
  font-size: 13px;
  font-weight: 200;
  color: $text-color;
  padding: 60px 20px;
}

.heading {
	font-weight: 100;
	font-size: 48px;
}

#icon {
	height: 100px;
	width: 100px;
	padding-bottom: 20px;
}

.desc {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.5;
}

li {
	font-weight: 300;
	line-height:2;
}
