@import "../_colors";
@import "../fonts";
h1 {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
hr {
    border: none;
    border-top: dashed 1px $black4;
    margin: 40px 0;
}
code {
    overflow: scroll;
    width: 100%;
    background: $black4;
    display: inline-block;
    margin: 0 20px;
    padding: 10px;
}
table {
    border-collapse: collapse;
    margin-left: 20px;
    border-bottom: solid 1px $magic-grey;
}
th {
    background: $black4;
}
tr {
    border-bottom: solid 1px $black4;
}
td, th {
    padding: 5px 20px;
}
