@import "../_colors";
@import "../fonts";
h1 {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
hr {
    border: none;
    border-top: solid 1px $black3;
}
p {
    padding-left: 20px;
}
code {
    background: $magic-grey;
    display: inline-block;
    margin: 0 20px;
    padding: 10px;
}
