@import "../_colors";
@import "../_common";
@import "_markdown";

#footer {
    @include has-grey-link();
}

core-header-panel[main] {
    background: white;
}
#drawer {
    background: white;
    padding: 0;
}
#toolbar, #drawer-toolbar {
    background: color($C1, 500);
    a {
        color: white;
        height: 40px !important;
    }
}
#toolbar {
    color: white;
}
#drawer-toolbar {
    color: $white2;
}
#canvas {
    background: white;
    height: 100%;
}
#title {
    font-weight: 700;
}
#marked {
    padding: 40px 0 60px 0;
    background: white;
    color: $black1;
    display: block;
    height: 100%;
    opacity: 0;
    transition: opacity 420ms ease-out;
    a {
        color: $black1;
        &:hover {
            color: color($C1, 500);
        }
    }

    .todo {
        color: red;
    }
}
@media(min-width: 768px) {
    #marked {
        width: 768px;
        padding-bottom: 80px;
        border-bottom: solid 1px $black4;
    }
    #footer {
        display: inherit;
    }
}
