@import "../_colors";
@import "_markdown";
core-header-panel[main] {
    background: white;
}
#drawer {
    background: white;
    padding: 0;
}
#toolbar, #drawer-toolbar {
    background: $primary;
    a {
        color: $secondary;
        height: 40px !important;
    }
}
#toolbar {
    color: $secondary;
}
#drawer-toolbar {
    color: $white2;
}
#canvas {
    background: white;
    height: 100%;
}
#title {
    font-weight: 700;
}
#marked {
    padding: 40px 0 60px 0;
    background: white;
    color: $black1;
    display: block;
    height: 100%;
    opacity: 0;
    transition: opacity 420ms ease-out;
    a {
        color: $secondary;
        &:hover {
            color: $thirdary;
        }
    }
}
#footer {
    display: none;
    & /deep/ {
        a {
            color: $black2;
            &:hover {
                color: $secondary;
            }
        }
        .group-label {
            color: $black3;
        }
    }
}
@media(min-width: 768px) {
    #marked {
        width: 768px;
        padding-bottom: 80px;
        border-bottom: solid 1px $black4;
    }
    #footer {
        display: inherit;
    }
}
