@import "../../_colors";
@import "../../_common";
:host {
    display: block;
    height: 100%;
}
@media (min-width: 768px) {};
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
}
thead {
    color: $black1;
    font-weight: 500;
}
tr {
    padding: 0 5px;
    &:nth-child(even) {
        background-color: $magic-grey;
    }
    &.buy {
        color: color($green, 500);
    }
    &.sell {
        color: color($red, 500);
    }
}
td {
    padding: 10px 5px;
    text-align: right;
    &.idx {
        color: $black3;
    }
}
tbody {
    tr:hover {
        background: color($C2, 100);
    }
}
