@import "../../_colors";
:host(:hover) {
    #item {
        color: color($C1, 500);
    }
}
:host([active]) {
    #item {
        color: white;
        background: color($C1, 700);
        cursor: default;
        font-weight: 500;
        disabled: disabled;
    }
}
#item {
    color: $black2;
    font-size: 13px;
}
#link {
    text-decoration: none;
    color: $black2;
}