@import "../../_colors";
:host(:hover) {
    #item {
        color: $secondary;
    }
}
:host([active]) {
    #item {
        color: $black1;
        background: $black4;
        cursor: default;
        font-weight: 500;
        disabled: disabled;
    }
}
#item {
    color: $black2;
    font-size: 13px;
}
#link {
    text-decoration: none;
    color: $black2;
}