@import "../../_colors";
@import "../../_common";
@include config-color-link-on-light-color();
:host {
    display: block;
    height: 100%;
}

a#action {
    color: $black1;
    text-decoration: none;
    margin: 40px 0 10px 0;
}

@media (min-width: 768px) {
}