@import "../../_colors";
@import "../../_common";
:host {
    display: block;
    height: 100%;
}

a#action {
    color: $black1;
    text-decoration: none;
    margin-top: 40px;
}

@media (min-width: 768px) {
}