@import "../../_colors";
#market-tabs {
    font-size: 13px;
    font-weight: 500px;
    height: 64px;
    &::shadow {
        #tabsContainer {
            background: color($C1, 700);
            color: white;
        }
        #selectionBar {
            background-color: color($C2, 500);
        }
    }
    >paper-tab::shadow #ink {
        color: white;
    }
}
#pages {
    background: color($C1, 500);
    core-menu {
        color: white;
    }
}
