@import "../../_colors";
#market-tabs {
    font-size: 13px;
    font-weight: 500px;
    height: 64px;
    >paper-tab::shadow #ink {
        color: white;
    }
    &::shadow {
        #tabsContainer {
            background: color($C1, 700);
            color: white;
        }
        #selectionBar {
            background-color: color($C2, a700);
        }
    }
    paper-tab[active] {
        background: color($C1, 500);
    }
}
:host-context([dark]) {
    #market-tabs {
        &::shadow {
            #tabsContainer {
                background: color($C4, 700);
                color: white;
            }
            #selectionBar {
                background-color: color($C2, a700);
            }
        }
        paper-tab[active] {
            background: color($C4, 500);
        }
    }
}
#pages {
    core-menu {
        color: white;
    }
}
