@import "../../_colors";
:host(:hover) {
    #item {
        color: $white1;
        background: color($C2, a700);
    }
}
:host([active]) {
    #item {
        color: $white1;
        cursor: default;
        background: color($C1, 500);
    }
}
#item {
    color: $black1;
    font-size: 13px;
}
#link {
    text-decoration: none;
    color: $black2;
}
