@import "../../_colors";

$color: color($green, 400);
:host {
  border-top: solid 2px $color;
  display:block;
  height: 100%;
}

paper-input {
  font-size: 20px;
  font-weight: 700;
}
#x /deep/  input {
  background: $magic-grey;
}