@import "../../_colors";
:host {
    display: block;
    background: white;
    padding: 20px;
    height: 230px;
}
#pages {
    display: inherit;
}
#tabs {
    font-size: 14px;
    font-weight: 700;
    &::shadow {
        #tabsContainer {
            background: white;
            color: $black1;
        }
        #selectionBar {
            background-color: $white3;
        }
    }
    >paper-tab {
        color: $black3;
        &[active] {
            &#buy {
                background: color($green, 500);
                color: white;
            }
            &#sell {
                background: color($red, 500);
                color: white;
            }
        }
        &#buy {
            color: color($green, 500);
            &::shadow #ink {
                color: white;
            }
        }
        &#sell {
            color: color($red, 500);
            &::shadow #ink {
                color: white;
            }
        }
    }
}
