@import "../../_colors";
:host {
    display: block;
    background: white;
    padding: 20px;
    height: 300px;
}

paper-tabs {
    font-size: 14px;
    font-weight: 700;
    &::shadow {
        #tabsContainer {
            background: white;
            color: $black1;
        }
        #selectionBar {
            background-color: $white3;
        }
    }
}

paper-tab {
    &[active] {
        &#buy {
            background: color($green, 400);
            color: white;
        }
        &#sell {
            background: color($red, 400);
            color: white;
        }
    }
    &#buy::shadow #ink {
        color: white;
    }
    &#sell::shadow #ink {
        color: white;
    }
}

#pages {
    display: block;
}


/** smallup **/
@media (max-width: 768px) {

}
