@import "../../_colors";
:host {
    display: block;
    background: white;
    padding: 10px;
}
.box {
    width: 100%;
    padding: 5px;
}
.label {
    text-transform: uppercase;
    color: $black2;
    font-weight: 700;
    font-size: 14px;
}
.table {
    border: solid 1px $black4;
    color: $black1;
    width: 100%;
    padding: 0;
    border-spacing: 0;
    th {
        background: $black4;
        color: $black2;
        text-align: left;
        margin: 0;
        padding-left: 10px;
    }
    th, td {
        padding: 0px;
        padding-left: 10px;
    }
    td {
        font-weight: 700;
    }
}
#buys {
    td {
        color: color($red, 500);
    }
}
#sells {
    td {
        color: color($green, 500);
    }
}
.target {
    font-weight: 500;
}
#container[smallup] {
    .box {
        padding: 10px;
    }
    .label {
        padding-bottom: 10px;
    }
    .table {
        th, td {
            padding: 4px;
        }
    }
}
