@import "../../_colors";
:host {
  display:block;
}
#container {
    padding-bottom: 60px;
    &.smallup {
        padding: 40px;
        max-width: 768px;
        padding-bottom: 80px;
    }
    > paper-shadow {
        margin: 5px 0;
    }
}
paper-fab {
    &#buy {
        background: color($green, 400);
    }
    &#sell {
        background: color($red, 400);
    }
}
actions {
    margin: 20px 0;
}
@media (min-width: 769px) {
    #container {
        padding-bottom: 130px;
        > paper-shadow {
            margin: 10px 0;
        }
    }
}
