@import "../../_colors";
:host {
    display: block;
    height: 100%;
}
#action-wide {
    display: none;
}
#toppendingCard {
    height: 320px;
}
@media(min-width: 768px) {
    #action-wide {
        display: inherit;
    }
    #action-narrow {
        display: none;
    }
    #toppendingCard {
        height: 240px;
    }
}
