@import "../../_colors";
:host {
    display: block;
}
#top-container {
    padding-bottom: 60px;
    > paper-shadow {
        margin: 5px 0;
    }
}
#action-wide {
    display: none;
}
@media (min-width: 768px) {
    #top-container {
        padding: 40px;
        max-width: 768px;
        padding-bottom: 80px;
        > paper-shadow {
            margin: 10px 0;
        }
    }
    #action-wide {
        display: inherit;
    }
    #action-narrow {
        display: none;
    }
}
