@import "../_colors";

:host {
  display: block;
  over-flow: scrool;
  height: 100%;
}

cp-page::shadow #toolbar {
  background: color($grey, 700);
  color:white;
}

cp-page::shadow cp-toolbar-button::shadow a {
  color:white;
  &:hover {
     color:white;
  }
}