@import "../../_colors";
@import "../../_common";
@include has-simple-table();
:host {
    display: block;
    height: 100%;
}
#buy {
    padding-right: 2px;
    nice-number.price {
        color: color($green, 500);
    }
}
#sell {
    padding-left: 2px;
    nice-number.price {
        color: color($red, 500);
    }
}
@media (min-width: 768px) {
}
.label {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}
