@import "../../_colors";
:host {
    width: 100%;
    display: block;
    padding: 20px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: white;
}
#box {
    padding: 20px;
    background: lighten($primary, 5%);
    transition: background 420ms ease-in-out;
    &:hover {
        background: lighten($primary, 10%);
    }
}
#head {
    color: $secondary;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
}
#stats {
    padding-bottom: 10px;
    .l {
        display: inline-block;
        color: $white3;
        padding: 0 5px;
        min-width: 60px;
    }
    .v {
        font-weight: 500;
        color: $thirdary;
        padding: 0 5px;
    }
    #general {
        text-align: center;
        .l {
            color: $white2;
            text-transform: uppercase;
        }
        .v {
            font-size: 28px;
            font-weight: 100;
            text-align: center;
            color: $white1;
        }
        &:after {
            content: "";
            display: block;
            padding-top: 10px;
            height: 1px;
            width: 100%;
            border-top: solid 1px $white4;
        }
    }
    #shortage {
        &.short {
            opacity: 0;
        }
        .v {
            color: $secondary;
        }
    }
}
