@import "../_colors";

:host {
    box-sizing: border-box;
}
//
#drawer {
    padding: 0;
    background: color($C1, 500);
}
#toolbar {
    background: white;
    color: color($C1, 500);
    paper-icon-button, core-icon-button {
        color: color($C1, 500);
        &[active] {
            color: color($C2, a700);
        }
    }
    paper-icon-button:hover, core-icon-button:hover {
        color: color($C2, a700);
    }
    a {
        height: 40px;
    }
}
#label {
    color: color($C1, 700);
    font-weight: 700;
}
.btn {
    display: none;
}
#pages {
    padding-bottom: 200px;
}
#nav-tabs {
    background: color($C1, 600);
    width: 100%;
    color: white;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    /deep/ {
        #ink {
            color: white;
        }
        #selectionBar {
            background-color: color($C2, a700);
        }
    }
}
@media(min-width: 768px) {
    .btn {
        display: initial;
    }
    #nav-tabs {
        height: 0;
        border-top: none;
    }
}
