@import "../_colors";
:host {
    box-sizing: border-box;
}
#drawer {
    background: lighten($primary, 5%);
    padding: 0;
}
#toolbar {
    color: $secondary;
    background: $primary;
    a {
        color: $secondary;
        height: 40px !important;
    }
}
#label {
    color: $white2;
    font-weight: 700;
}
.btn {
    display: none;
}
#pages {
    padding-bottom: 200px;
}
#nav-tabs {
    width: 100%;
    color: darken($primary, 10%);
    background: $secondary;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    /deep/ {
        #ink {
            color: white;
        }
        #selectionBar {
            background-color: white;
        }
    }
}
@media(min-width: 768px) {
    .btn {
        display: initial;
    }
    #nav-tabs {
        height: 0;
        border-top: none;
    }
}
