@import "../_colors";
:host {
    box-sizing: border-box;
}
#drawer {
    background: color($C1, 400);
    padding: 0;
}
#toolbar {
    color: white;
    background: color($C1, 500);
    paper-icon-button, core-icon-button {
        background: color($C1, 500);
        color: white;
    }
    paper-icon-button:hover, core-icon-button:hover {
        color: color($C2, 500);
    }
    a {
        height: 40px;
    }
}
#label {
    color: $white1;
    font-weight: 700;
}
.btn {
    display: none;
}
#pages {
    padding-bottom: 200px;
    background: $magic-grey;
}
#nav-tabs {
    width: 100%;
    color: white;
    background: color($C1, 500);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    /deep/ {
        #ink {
            color: white;
        }
        #selectionBar {
            background-color: white;
        }
    }
}
@media(min-width: 768px) {
    .btn {
        display: initial;
    }
    #nav-tabs {
        height: 0;
        border-top: none;
    }
}
