@import "../_colors";
:host {
    box-sizing: border-box;
    background: $primary;
    color: white;
}
cp-toolbar {
    display: none;
}
:host-context([has-toolbar]) {
    cp-toolbar {
        display: inherit;
    }
}
#footer {
    display: none;
}
#content {
}
@media(min-width:768px) {
    :host-context([has-footer]) {
        #footer {
            display: inherit;
        }
    }
    :host-context([narrow]) {
        #content {
            width: 768px;
            margin: auto;
        }
    }
}
