@import "../_colors";
:host {
    box-sizing: border-box;
    color: $black1;
}
cp-toolbar {
    display: none;
}
:host-context([has-toolbar]) {
    cp-toolbar {
        display: inherit;
    }
}
:host-context([primary-bg]) {
    #main {
        background: color($C1, 500);
    }
}
:host-context([grey-bg]) {
    #main {
        background: color($grey, 100);
    }
}
#content {
    min-height: 100vh;
}
#footer-wrapper {
    display: none;
    background: color($grey, 900);
}
@media(min-width:768px) {
    :host-context([has-footer]) {
        #footer-wrapper {
            display: inherit;
        }
    }
    :host-context([narrow]) {
        #content {
            width: 768px;
            margin: auto;
        }
    }
}
