@import "../_colors";
@import "../_common";
#drawer {
    padding: 0;
    color: $black1;
    background: color($C1, 100);
    /deep/ section {
        background: white;
    }
    /deep/ {
        @include config-sidebar-menu();
    }
}
#toolbar {
    @include config-toolbar();
}
#main-pages {
    background: color($C1, 50);
}
