@import "../_colors";
@import "../_common";
#drawer {
    padding: 0;
    color: $black1;
    background: color($C1, 100);
    /deep/ {
        @include config-sidebar-menu();
    }
}
#toolbar {
    @include config-toolbar();
}
#pages {
    background: color($C1, 50);
}
