@import "../_colors";
@import "../_common";
:host {
    box-sizing: border-box;
}
#menu-toolbar {
    background: color($C1, 100);
}
#drawer {
    padding: 0;
    background: color($C1, 600);
}
#toolbar {
    @include config-toolbar();
}
#pages {}
