a {
	color: white;
	&:hover {
	  color: white;
	}
}

paper-icon-button {
	color: white;
}
paper-icon-button[active] {
	background-color: rgba(white, 10%);
	border-radius: 50%;
	color: #2196F3;
}

paper-icon-button[active]::shadow #ripple {
	color: red;
}