@import "../_colors";
:host {
    box-sizing: border-box;
}
a {
    color: white;
    &:hover {
        core-icon-button {
            color: color($C2, 500);
        }
        core-icon-button[active] {
            color: color($C1, 100);
        }
    }
}
