@import "../_colors";
:host {
    box-sizing: border-box;
}
a {
    color: color($C1, 500);
    core-icon-button[active] {
        color: color($C2, a700);
    }
    &:hover {
        core-icon-button {
            color: color($C2, a700);
        }
    }
}
