@import "../_colors";
@import "../_common";
//
:host {
    box-sizing: border-box;
    #toolbar {
        background: white;
    }
}
#toolbar {
    width: 100%;
    color: color($C1, 500);
    @include config-toolbar();
    #home {
        font-size: 15px;
        text-transform: none;
        color: color($C1, 500);
        text-decoration: none;
    }
}
