@import "../_colors";
@mixin config-color($color) {
    #toolbar {
        background: color($color, 500);
    }
}
//
:host {
    box-sizing: border-box;
    @include config-color($blue);
}
:host-context(.green) {
    @include config-color($green);
}
:host-context(.brown) {
    @include config-color($brown);
}
//
#toolbar {
    width: 100%;
    color: white;
    a#home {
        color: white;
        text-decoration: none;
    }
}
