@import "../_colors";
//
:host {
    box-sizing: border-box;
    #toolbar {
        background: white;
    }
}
#toolbar {
    width: 100%;
    color: color($C1, 500);
    a#home {
        color: color($C1, 500);
        text-decoration: none;
    }
}
