@import "../_colors";
:host {
    color: $black1;
}
#dialog {
    max-width: 400px;
    .instruction {
        font-size: 12px;
        border-radius: 5px;
        padding: 0 10px;
        color: $black2;
        a {
            color: color($C2, 700);
            text-decoration: none;
            &:hover {
                color: color($C2, 700);
            }
        }
        #tag {
            color: color($C2, 700);
        }
    }
}
