@import "../_colors";


cp-page::shadow #toolbar {
  background: color($grey, 700); 
  color:white;
}

cp-page::shadow cp-toolbar-button::shadow a {
  color: white;
  &:hover {
    color: white;
  }
}