@import "../_colors";
$color: $deep-purple;
cp-page::shadow {
    #toolbar {
        background: color($color, 500);
        color: white;
    }
    cp-toolbar-button::shadow {
        a {
            color: white;
            &:hover {
                color: white;
            }
        }
    }
}
#footer {
    display: none;
}
@media(min-width: 769px) {
    #footer {
        display: inline-block;
    }
}
