@import "../../_colors";
@import "../../_common";
:host {
    display: block;
    height: 100%;
}
#kchart-pages {
    height: 480px;
}
a#action {
    color: $black1;
    text-decoration: none;
    margin-top: 40px;
    paper-button {
        background: color($C1, 100);
        font-weight: bold;
        &:hover {
            background: color($C2, a400);
        }
    }
}
#market-tabs {
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    height: 64px;
    color: $black1;
    &::shadow {
        #tabsContainer {
            background: color($C1, 200);
            color: $black1;
        }
        #selectionBar {
            background: color($C1, 900);
        }
    }
    paper-tab[active] {
        background: color($C1, 900);
        color: $white1;
    }
}
