@import "../../_colors";
@import "../../_common";

:host {
    display: block;
    height: 100%;
}

#kchart-pages {
  height: 440px;
}

.trade-btn {
  margin-top: 40px;
}
#market-tabs {
    width: 100%;
    color: color($C1, 500);
    /deep/ {
        #ink {
            color: white;
        }
        #selectionBar {
            background-color: color($C1, 500);
        }
    }
}