@import "../../_colors";
@import "../../_common";
:host {
    display: block;
    height: 100%;
}
#kchart-pages {
    height: 480px;
}
.trade-btn {
    margin-top: 40px;
    background: color($C2, a700);
    font-weight: bold;
    padding: 10px 20px;
    &:hover {
        background: color($C3, a700);
    }
    a {
        color: white;
        text-decoration: none;
    }
}
#market-tabs {
    width: 100%;
    color: color($C1, 500);
    /deep/ {
        #ink {
            color: white;
        }
        #selectionBar {
            background-color: color($C1, 500);
        }
    }
}
