@import "../_colors";
:host {
    display: block;
    height: 100%;
}
#container {
    padding: 10px 0 60px 0;
    width: 100%;
}
#footer {
    display: none;
}
@media(min-width: 768px) {
    #container {
        max-width: 768px;
        padding-bottom: 20px;
    }
    :host([has-footer]) {
        #footer {
            display: inherit;
        }
        #container {
            padding-bottom: 0;
        }
    }
    ::content {
        >paper-shadow {
            >div {
                padding: 20px;
                &[no-padding] {
                    padding: 20px 0;
                }
            }
        }
    }
}
::content {
    div[label] {
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
        font-weight: 500;
        color: $black2;
        text-transform: uppercase;
    }
    div[divider] {
        font-size: 0;
        height: 1px;
        width: 100%;
        margin: 20px 0;
        background: $black4;
    }
    paper-shadow {
        margin: 10px 0;
        width: 100%;
        padding: 0;
        background: white;
        >div {
            padding: 20px;
            &[no-padding] {
                padding: 5px 0;
            }
            color: $black1;
        }
    }
}
