@import "../_colors";
:host {
    display: block;
    height: 100%;
}
#container {
    padding-bottom: 60px;
    width: 100%;
}
#footer {
    display: none;
}
@media(min-width: 768px) {
    #container {
        max-width: 768px;
        padding-bottom: 0;
    }
    :host-context([has-footer]) {
        #footer {
            display: inherit;
        }
    }
    ::content {
        >paper-shadow {
            >div {
                padding: 20px;
                &[no-padding] {
                    padding: 20px 0;
                }
            }
        }
    }
}
::content {
    div[label] {
        text-align: center;
        padding-top: 20px;
        font-size: 20px;
        font-weight: 500;
        color: $black2;
        text-transform: uppercase;
    }
    div[divider] {
        font-size: 0;
        height: 1px;
        width: 100%;
        margin: 20px 0;
        background: $black4;
    }
    paper-shadow {
        width: 100%;
        &::content {
            background: white;
        }
        background: white;
        >div {
            padding: 20px;
            &[no-padding] {
                padding: 5px 0;
            }
            color: $black1;
        }
    }
    paper-shadow[no-padding] {
        >div {
            padding: 20px 0;
        }
    }
}
:host-context([light]) {
    background: $magic-grey;
    color: $black1;
    ::content {
        div[label] {
            text-align: center;
            padding-top: 20px;
            font-size: 20px;
            font-weight: 500;
            color: $black2;
            text-transform: uppercase;
        }
    }
}
