@import "../_colors";
:host {
    display: block;
    height: 100%;
}
#container {
    padding-top: 40px;
    padding-bottom: 60px;
    width: 100%;
}
::content {
    div[label] {
        text-align: center;
        padding-top: 20px;
        font-size: 20px;
        font-weight: 500;
        color: $white3;
        text-transform: uppercase;
    }
    div[divider] {
        font-size: 0;
        height: 1px;
        width: 100%;
        margin: 20px 0;
        background: $black4;
    }
    >paper-shadow {
        width: 100%;
        margin: 10px 0;
        >div {
            padding: 5px;
            &[no-padding] {
                padding: 5px 0;
            }
            background: white;
            color: $black1;
        }
    }
}
@media(min-width: 768px) {
    #container {
        max-width: 768px;
        padding-bottom: 80px;
        ::content {
            >paper-shadow {
                >div {
                    padding: 20px;
                    &[no-padding] {
                        padding: 20px 0;
                    }
                }
            }
        }
    }
}
