@import "../../_colors";
:host {
    display: block;
    background: transparent;
}
.container {
    color: $primary;
    height: 100%;
    background: white;
}
#pages {
    width: 100%;
    height: 460px;
}
#title {
    $color: $black2;
    font-size: 16px;
    font-weight: 500;
    margin: 20px;
}
#outer {
    border-top: solid 1px $black4;
    min-height: 200px;
    #inner {
        background: lighten($primary, 5%);
        padding-left: 40px;
        padding-right: 40px;
        min-height: 200px;
    }
    #agree {
        text-align: left;
        padding-top: 20px;
        padding-left: 40px;
        a {
            color: $black1;
            &:hover {
                color: $secondary;
            }
        }
        .checkbox {
            color: $secondary;
            padding-right: 10px;
            &::shadow {
                #ink[checked] {
                    color: $secondary;
                }
                #checkbox.checked {
                    border-color: $secondary;
                }
            }
        }
    }
    #msg {
        padding: 40px 20px;
        color: white;
        background: lighten($primary, 5%);
        word-wrap: break-word;
    }
    #logout {
        padding: 40px 20px;
        color: $black2;
        #userid {
            color: $black1;
            font-weight: 500;
        }
    }
    #action {
        padding: 40px 35px 0 35px;
        paper-button {
            background: lighten($secondary, 5%);
            transition: background 420ms ease-in-out;
            color: white;
            &:hover {
                background: $secondary;
            }
        }
    }
}
#options {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    background: white;
    >div {
        padding: 0 10px;
    }
    paper-button {
        text-transform: None;
        &:hover {
            color: $secondary;
        }
        &.highlight {
            transition: color 200ms ease-in-out;
            color: $thirdary;
            &:hover {
                color: $secondary;
            }
        }
    }
}
.input {
    background: lighten($primary, 5%);
    color: white;
    $placeholder-color: $white2;
    &[focused] {
        color: $secondary;
    }
    /deep/::-webkit-input-placeholder {
        color: $placeholder-color;
    }
    /deep/::-moz-placeholder {
        color: $placeholder-color;
    }
    /deep/:-ms-input-placeholder {
        color: $placeholder-color;
    }
    /deep/ .label-text, /deep/ .error {
        color: $placeholder-color;
    }
    /deep/ .unfocused-underline {
        background-color: $white4;
    }
    /deep/ .floated-label .label-text {
        color: $white2;
        font-size: 13px;
    }
    /deep/ .focused-underline {
        background-color: $secondary;
    }
    &[focused] /deep/ {
        .floated-label .label-text {
            color: $white2;
            font-size: 13px;
        }
    }
    &.invalid /deep/ .floated-label .label-text, /deep/ .error {
        color: $placeholder-color;
    }
    &.invalid /deep/ .focused-underline {
        background-color: $thirdary;
    }
}
