@import "../_colors";
@import "../_common";
:host {
    box-sizing: border-box;
}
//
#drawer {
    padding: 0;
    background: color($C1, 500);
}
#toolbar {
    @include config-toolbar-dark();
}
#label {
    color: white;
    font-weight: 700;
}
#main {
    padding: 0 2px;
}
#main-panel {
    background: color($C1, 800);
}
.column {
    min-width: 220px;
    width: 20%;
    border-left: 1px solid color($C1, 900);
    border-right: 1px solid color($C1, 900);
    .block {
        font-size: 12px;
        border-top: 2px solid color($C1, 900);
        .head {
            padding: 10px;
            background: $white4;
            color: color($C1, 500);
            .title {
                letter-spacing: 1px;
                font-weight: 700;
                color: white;
                font-size: 14px;
                text-transform: uppercase;
            }
        }
        .content {
            padding: 0 0 10px 0;
            color: $white2;
        }
    }
    &.wide {
        width: 40%;
    }
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    th, td {
        text-align: right;
        padding: 0 1px;
    }
    thead {
        tr {
            color: $white2;
            height: 20px;
            padding: 0;
            border-bottom: 2px solid rgba(white, 0.05);
        }
        th {
            font-weight: 500;
        }
    }
    tbody {
        tr {
            padding: 2px;
            border-bottom: 1px solid rgba(white, 0.02);
            &:hover {
                background: rgba(white, 0.08);
            }
        }
        td#lastPrice {
            border-top: 1px solid rgba(white, 0.05);
            border-bottom: 1px solid rgba(white, 0.05);
            text-align: center;
            padding: 4px;
            color: color($C2, a400);
            font-weight: bold;
        }
    }
}
nice-number {
    color: $white1;
    &.buy {
        color: color($buy-color, a200);
    }
    &.sell {
        color: color($sell-color, a200);
    }
}
.idx {
    color: $white3;
}
#availableBalance {
    .content {
        color: white;
        .actions {
            border-bottom: 1px solid rgba(white, 0.05);
            paper-button:hover {
                color: color($C2, a400);
            }
        }
        .balance {
            padding: 4px 20px;
            text-align: center;
            font-size: 14px;
        }
        a {
            text-decoration: none;
            font-weight: bold;
            color: $white2;
            &:hover {
                color: color($C2, a400);
                text-decoration: underline;
            }
        }
    }
    core-icon.small {
        height: 14px;
        width: 14px;
        margin: 4px;
        color: color($C1, 300);
    }
}
#trade {
    paper-tabs {
        &::shadow {
            #selectionBar {
                background-color: transparent;
            }
        }
        >paper-tab::shadow #ink {
            color: color($C2, a400);
        }
    }
    paper-tab {
        letter-spacing: 1px;
        font-weight: 700;
        color: white;
        font-size: 14px;
        text-transform: uppercase;
        &[active] {
            background: $white4;
            color: white;
        }
    }
    .form {
        background: $white4;
        padding: 20px;
    }
}
#orderbook {};
#depthchart {
    depth-chart {
        width: 100%;
        display: inline-block;
    }
}
