@import "../../_colors";
@import "../../_common";
$C1: $C1;
:host {
    display: block;
    height: 100%;
}
@include has-simple-table();
.label {
    padding-left: 20px;
    &.cold {
        color: color($light-blue, 500);
    }
    &.hot {
        color: color($orange, 500);
    }
}
.msg, .sig {
    font-family: monospace;
    font-size: 10px;
    word-wrap: break-word;
    max-width: 200px;
    border: solid 1px color($C1, 500);
    border-radius: 3px;
    color: $black1;
    padding: 5px;
    &:hover {
        background: color($C1, 500);
        color: white;
        border: solid 1px transparent;
    }
}