@import "../../_colors";
@import "../../_common";
@include has-simple-table();
:host {
    display: block;
    height: 100%;
    color: $black1;
}

.card {
    a {
        color: $black1;
        text-decoration: none;
        &:hover {
            color: color($C1, 500);
            text-decoration: underline;
            core-icon.small {
                color: color($C1, 500);
            }
        }
        core-icon.small {
            height: 16px;
            width: 16px;
            padding-right: 10px;
            color: transparent;
        }
    }
}
.load-button {
    padding: 5px 20px;
    background: transparent;
    color: $black2;
    &:hover {
        color: color($C1, 500);
    }
    &[disabled] {
        color: $black4;
    }
}
