@import "../_colors";
#loading {
    color: white;
    height: 100vh;
    font-size: 14px;
    &[loaded] {
        visibility: hidden;
    }
}
paper-spinner::shadow .circle {
    border-color: $secondary;
}
#router {
    visibility: hidden;
    opacity: 0%;
    transition: opacity 420ms ease-in-out;
    &[loaded] {
        visibility: visible;
        opacity: 100%;
    }
}
