@import "../_colors";
:host {
    display: inline-block;
    background: $black4;
    color: $black1;
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 11px;
    font-weight: 500;
}
:host-context(.attention) {
    background: color($C3, 500);
    color: $white1;
}
:host-context(.cold) {
    background: color($blue, 400);
    color: $white1;
}
:host-context(.hot) {
    background: color($orange, 400);
    color: $white1;
}
:host(:hover) {
    background: $black1;
    color: $white1;
}
#icon {
    color: white;
    height: 12px;
    width: 12px;
    padding-right: 5px;
}
#addr {};
#lead {
    user-select: none;
}
