@import "../_colors";
:host {
    display: inline-block;
    background: $primary;
    color: white;
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 10px;
}
#icon {
    color: white;
    height: 12px;
    width: 12px;
    padding-right: 5px;
}
#addr {
}
