@import "../_colors";
:host {
    width: 100%;
    display: inline-block;
}
:host-context(.bold) {
    font-weight: 700;
}
:host-context(.light-tooltips) {
    core-tooltip::shadow .core-tooltip {
        background: white;
        color: $black1;
    }
}
:host-context([no-trailing-zeros]) {
    #p2 {
        display: none;
    }
}
#p1 {
    padding: 0;
    text-align: right;
}
#p2 {
    padding: 0;
    text-align: left;
}
.fade {
    opacity: 0.26;
}
