@import "../_colors";
:host {
    box-sizing: border-box;
    display: block;
    over-flow: scrool;
    height: 100%;
}

#footer {
    display: none;
}
@media(min-width: 768px) {
    #footer {
        display: inherit;
    }
}
