@import "../elements/_colors";
* {
    box-sizing: border-box;
}
body {
    background: $black4;
    color: $black1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}
#container {
    width: 100%;
    margin: auto;
    margin-top: 20px;
}
#header {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    background: color($C1, 500);
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
}
#content {
    border: solid 1px color($C1, 500);
    width: 100%;
    background: white;
    text-align: center;
    #box {
        width: 100%;
        padding: 0;
        #left, #right {
            width: 49%;
            padding: 10px;
            text-align: left;
            display: inline-block;
            vertical-align: top;
            color: $black2;
            transition: color 420ms ease-in-out;
            &:hover {
                color: $black1;
            }
        }
        border: solid 1px $magic-grey;
    }
    #action-c {
        text-align: center;
        padding: 40px;
        code {
            font-size: 28px;
            font-weight: 700;
            font-color: $black1;
        }
        a {
            transition: background 420ms ease-in-out;
            font-size: 10px;
            word-wrap: break-word;
            background: color($C2, a700);
            color: color($C2, a700);
            padding: 10px 10px;
            color: white;
            border-radius: 20px;
            &:hover {
                background: color($C3, a400);
            }
        }
    }
}
#footer {
    padding-top: 10px;
    text-align: center;
    color: $black2;
    a {
        color: $black2;
        text-decoration: none;
        &:hover {
            color: color($C2, a700);
            text-decoration: underline;
        }
    }
    > span {
        padding: 0 20px;
    }
}
@media(min-width:640px) {
    #container {
        width: 640px;
    }
}
