@import "../_colors";

#container {
  padding: 40px;
  padding-bottom: 80px;

  &.smallup {
    max-width: 768px;
    padding-bottom: 40px; 
  }
}

paper-shadow {
  margin: 10px;
}

core-scroll-header-panel  {
  background: transparent;
}