@import "../_colors";

#container {
  padding-bottom: 80px;

  &.smallup {
    padding: 40px;
    max-width: 768px;
    padding-bottom: 40px; 
  }
}

paper-fab {
  &#buy{
    background:color($green, 400);
  }
  &#sell{
    background:color($red, 400);
  }
}

paper-shadow {
  margin: 10px 0;
}

actions {
  margin: 20px 0;
}

core-scroll-header-panel  {
  background: transparent;
}
