@import "../_colors";

@mixin theme($color) {
  paper-tabs {
  	font-size: 13px;
  	font-weight: 500px;
  }

  paper-tabs::shadow #tabsContainer {
  	background:white;
  }
  paper-tabs::shadow #selectionBar {
    background-color: color($color, 500);
  }

  paper-tabs paper-tab::shadow #ink {
    color: color($color, 500);
  }

  paper-item {
    font-size: 13px;
  }

  a {
    text-decoration: none;
    color: $black2;
  }

  a[active] {
    paper-item {
      color: $black1;
      background: $magic-grey;
    }
    color: red; 
  }
 

}

@include theme($yellow);