@import "../../_colors";
@import "../../_common";
@include has-simple-table();
@include config-link-on-light-color();
.keyvalues {
    background: $white1;
    padding: 10px;
    >div {
        >div {
            padding: 10px 5px;
            &:nth-child(1) {
                color: $black2;
                text-align: right;
                min-width: 40%;
                &:after {
                    content: ":";
                }
            }
            &:nth-child(2) {
                color: $black1;
                word-wrap: break-word;
            }
        }
    }
}

@media(min-width:480px) {
    .keyvalues {
        >div {
            >div {
                padding: 10px;
                &:nth-child(1) {
                    min-width: 40%;
                }
            }
        }
    }
}
