@import "../../_colors";
a {
    color: $black1;
    &:hover {
        color: color($C1, 500);
    }
}
.keyvalues {
    background: white;
    padding: 10px;
    >div {
        >div {
            padding: 10px 5px;
            &:nth-child(1) {
                color: $black2;
                text-align: right;
                min-width: 40%;
                &:after {
                    content: ":";
                }
            }
            &:nth-child(2) {
                color: $black1;
                word-wrap: break-word;
                &:hover {
                    color: color($C1, 500);
                }
            }
        }
    }
}
@media(min-width:480px) {
    .keyvalues {
        >div {
            >div {
                padding: 10px;
                &:nth-child(1) {
                    min-width: 40%;
                }
            }
        }
    }
}
