@import "../../_colors";
$C1: $brown;
@mixin config-color($color) {
    core-item {
        &.core-selected {
            background: color($color, 700);
        }
    }
    core-submenu {
        > core-item {
            background: color($color, 400);
        }
    }
}
:host {
    height: 100%;
    @include config-color($brown);
}
core-item {
    font-weight: 400;
    &.core-selected {
        color: white;
        font-weight: 500;
    }
    &:hover {
        background: color($C2, 500);
    }
}
core-submenu {
    font-weight: 400;
    & > paper-item {
        font-size: 11px;
    }
    > core-item {
        &.core-selected {
            background: color($C2, 500);
        }
    }
    &.active, &[active] {
        color: $white2;
        core-item {
            font-weight: 400;
        }
    }
}
core-submenu::shadow #submenu {
    margin-left: 0px;
    padding-left: 30px;
}
#logout {
    width: 100%;
    border-radius: 0;
    margin: 0;
    color: white;
    &:hover {
        background: color($C3, 500);
    }
}
