@import "../../_colors";
@import "../../_common";
@include config-sidebar-menu();
#logout {
    width: 100%;
    border-radius: 0;
    margin: 0;
    color: $black1;
    background: color($C2, 100);
    &:hover {
        background: color($C2, a400);
    }
}
