@import "../../_colors";
@import "../../_common";
@import "_subpage";
#table-container {
    table.simple {
        tbody {
            td.marketsContainer {
                margin: 0;
                padding: 0;
            }
            tr:nth-child(odd) {
                padding: 0;
            }
            tr:nth-child(even) {
                border-bottom: none;
                td {
                    margin: 0;
                    padding: 0 10px;
                    &.op {
                        color: $black1;
                        text-align: center
                    }
                    core-icon {
                        margin-right: 5px;
                    }
                }
                &:hover {
                    background: color($C2, a400);
                    td.op {
                        background: color($C1, 900);
                        color: $white1;
                        &:hover {
                            color: color($C2, a400);
                        }
                    }
                }
            }
        }
    }
    .markets {
        >div {
            border-bottom: solid 10px $white1;
            background: color($C1, 900);
            padding: 15px;
            .heading {
                color: $white2;
                padding-bottom: 10px;
            }
            .market {
                min-width: 120px;
                @include config-link-on-dark-color();
            }
        }
    }
}
