@import "../../_colors";
$C1: $C1;
:host {
    display: block;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
#table-container {
    background: white;
    color: $black1;
    thead {
        color: $black2;
        td {
            padding-bottom: 10px;
        }
    }
    tbody {
        tr:nth-child(odd) {
            td {}
        }
        tr:nth-child(even) {
            background-color: $magic-grey;
            td {
                padding: 0 10px;
                &.part {
                    color: $black2;
                    font-weight: 700;
                }
                &.total {
                    color: color($C3, a400);
                    font-weight: 700;
                }
                &.op {
                    color: $black3;
                    text-align: center;
                }
            }
            &:hover {
                background: color($C2, a400);
                td {
                    color: $white1;
                }
                td.op {
                    background: color($C1, 400);
                    color: $white3;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    .markets {
        >div {
            border-bottom: solid 10px white;
            background: color($C1, 400);
            padding: 15px;
            .heading {
                color: $white2;
                padding-bottom: 10px;
            }
            .market {
                min-width: 120px;
                a {
                    color: white;
                    &:hover {
                        color: color($C2, a400);
                    }
                }
            }
        }
    }
}
