@import "../../_colors";
:host {
    display: block;
    color: $black1;
}
.container {
    .dropdownMenu {
        padding: 0 10px;
        min-width: 120px;
        color: color($C1, 500);
        font-weight: 700;
        padding: 0 10px;
        .dropdown {
            font-weight: 400;
            background: color($C1, 400);
            max-height: 400px;
            min-width: 160px;
            core-item {
                padding: 0 10px;
                color: white;
                &:hover {
                    background: color($C2, 500);
                }
                &[active] {
                    background: color($C1, 700);
                    font-weight: 400;
                }
            }
        }
    }
}
#instruction {
    padding: 20px;
    color: $black2;
}
#qrcode {
    background: $magic-grey;
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
thead {
    color: $black1;
    font-weight: 500;
}
tr {
    &:nth-child(even) {
        background-color: $magic-grey;
    }
}
td, th {
    padding: 10px;
}
.load-button {
    padding: 5px 20px;
    background: transparent;
    color: $black2;
    &:hover {
        color: color($C1, 500);
    }
    &[disabled] {
        color: $black4;
    }
}
