@import "../../_colors";
@import "../../_common";
@import "_subpage";

:host {
    display: block;
}
@include has-paper-toggle-button($C1);
core-collapse {
    >div {
        background: color($grey, 100);
        color: $black1;
        padding: 40px 20px;
        text-align: center;
    }
    paper-button:hover {
        color: color($C2, a700);
    }
    paper-button[raised] {
        background: white;
        color: $black1;
        &:hover {
            background: color($C2, a700);
            color: white;
        }
    }
}
#qrcode {
    padding: 20px;
    margin: 20px;
    background: $black4;
}
paper-input#code {
    /deep/ input[is=core-input] {
        font-size: 18px;
        text-align: center;
        color: $black1;
    }
}
span#tag {
    color: color($C1, 500);
}
