@import "../../_colors";
@import "_subpage";
$C1: $brown;
:host {
    display: block;
}
paper-toggle-button::shadow {
    paper-radio-button::shadow {
        #ink[checked] {
            color: color($C1, 700);
        }
        #ink {
            color: color($C1, 500);
        }
        #onRadio {
            background-color: color($C1, 500);
        }
        #offRadio {
            background-color: $black4;
        }
    }
    #toggleBar {
        background-color: $black2;
    }
    #toggleBar[checked] {
        background-color: color($C1, 500);
    }
    #toggleContainer[disabled] {
        opacity: 0.7;
        pointer-events: none;
    }
}
core-collapse {
    >div {
        border-top: solid 1px $black4;
        border-bottom: solid 1px $black4;
        > paper-shadow {
            text-align: center;
            .outer {
                .inner {
                    max-width: 360px;
                }
            }
        }
    }
}
#qrcode {
    padding: 20px;
    background: $magic-grey;
}
paper-input#code {
    /deep/ input[is=core-input] {
        font-size: 18px;
        text-align: center;
    }
}
span#tag {
    color: color($C2, 500);
}
