@import "../../_colors";
:host {
    display: block;
    height: 100%;
}
.label {
    padding-left: 20px;
    &.cold {
        color: color($light-blue, 500);
    }
    &.hot {
        color: color($orange, 500);
    }
}
table {
    width: 100%;
    border-collapse: collapse;
}
thead {
    background: $primary;
    color: white;
    font-weight: 500;
}
tbody {
    tr:hover {
        background: $magic-grey;
    }
}
td {
    border-bottom: solid 1px $magic-grey;
    vertical-align: top;
}
td, th {
    padding: 10px;
}
.msg, .sig {
    font-family: monospace;
    font-size: 10px;
    word-wrap: break-word;
    max-width: 240px;
    border: solid 1px lighten($primary, 10%);
    border-radius: 3px;
    color: $black1;
    padding: 5px;
    &:hover {
        background: lighten($primary, 10%);
        color: white;
    }
}
.hot {
    color: color($orange, 500);
}
.cold {
    color: color($blue, 500);
}
