@import "../../_colors";
:host {
    display: block;
    height: 100%;
}
#top-container {
    padding-top: 40px;
    padding-bottom: 60px;
    > paper-shadow {
        margin: 5px 0;
    }
    .card {
        padding: 5px;
        background: white;
    }
}

@media (min-width: 768px) {
    #top-container {
        max-width: 768px;
        padding-bottom: 80px;
        > paper-shadow {
            margin: 10px 0;
        }
        .card {
            padding: 20px;
        }
    }
}
