@import "../../_colors";
:host {
    display: block;
    height: 100%;
}
.label {
    padding-left: 20px;
    &.cold {
        color: color($light-blue, 500);
    }
    &.hot {
        color: color($orange, 500);
    }
}
.data {
    padding: 20px;
    border-bottom: solid 1px $black4;
    &:last-of-type {
        border-bottom: none;
    }
    .balance {
        font-weight: 500;
    }
    .verify {
        word-wrap: break-word;
        margin-top: 10px;
        div.l {
            color: $black1;
        }
        div.code {
            background: $primary;
            color: $secondary;
            padding: 20px;
            margin: 10px;
        }
    }
}
crypto-address.hot {
    background: color($orange, 500);
}
crypto-address.cold {
    background: color($blue, 500);
}
