@import "../../_colors";
:host {
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.canvas {
    padding-top: 10px;
    width: 100%;
}
.groupLabel {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 500;
    color: $black2;
    text-transform: uppercase;
}
reserve-card {
    width: 100%;
    max-width: 400px;
}
@media(min-width: 768px) and (max-width: 991px) {
    .canvas {
        width: 768px;
    }
    reserve-card {
        width: 50%;
    }
}
@media(min-width: 992px) and (max-width: 1199px) {
    .canvas {
        width: 992px;
    }
    reserve-card {
        width: 33%;
    }
}
@media(min-width: 1200px) {
    .canvas {
        width: 1200px;
    }
    reserve-card {
        width: 25%;
    }
}
