@import "../../_colors";
@import "../../_common";
:host {
    display: inline-block;
    background: transparent;
}
#pages {
}
section {
    background: white;
}
@mixin config-widget() {
    .container {
        height: 100%;
        background: $white1;
        @include config-link-on-light-color();
    }
    .label {
        color: $black1;
        font-size: 16px;
        font-weight: bold;
        margin: 20px;
    }
    .form {
        border-top: solid 1px $black4;
        min-height: 280px;
        .errorMsg {
            height: 40px;
            padding-top: 10px;
            width: 100%;
            text-align: center;
            color: color($C3, a400);
        }
        .inner {
            border-bottom: solid 1px color($C1, 200);
            background: color($C1, 100);
            padding: 0 40px;
            min-height: 180px;
            $border-color: color($C1, 300);
            $radius: 2px;
            input[is=core-input].input {
                background: white;
                box-sizing: border-box;
                color: $black1;
                width: 100%;
                height: 40px;
                padding: 10px;
                $placeholder-color: $black2;
                border-left: 1px solid $border-color;
                border-right: 1px solid $border-color;
                border-top: 1px solid $border-color;
                border-radius: 0px;
                &[focused] {
                    color: color($C2, a700);
                }
                &.first {
                    border-top-left-radius: $radius;
                    border-top-right-radius: $radius;
                }
                &.last {
                    border-bottom-left-radius: $radius;
                    border-bottom-right-radius: $radius;
                    border-bottom: 1px solid $border-color;
                }
            }
        }
    }
    #agree {
        text-align: left;
        padding-top: 20px;
        padding-left: 40px;
        @include config-color-link-on-light-color();
        .checkbox {
            color: color($C2, a400);
            padding-right: 10px;
            &::shadow {
                #ink[checked] {
                    color: color($C2, a400);
                }
                #checkbox.checked {
                    border-color: color($C2, a400);
                    background-color: color($C2, a400);
                }
            }
        }
    }
    #msg {
        padding: 40px;
        min-height: 180px;
        color: $black1;
        background: color($C1, 100);
        word-wrap: break-word;
    }
    #logout {
        padding: 40px 20px;
        color: $black2;
        #userid {
            color: $black1;
            font-weight: 500;
        }
    }
    .action {
        padding: 20px 35px 0 35px;
        height: 45px;
        paper-button.sub {
            background: color($C2, a400);
            color: $black1;
            &:hover {
                background: color($C1, 900);
                color: white;
            }
            &[disabled] {
                background: color($C1, 100);
                color: $black2;
            }
        }
    }
    .options {
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 20px;
        width: 100%;
        background: $white1;
        >div {
            padding: 0 10px;
        }
        paper-button {
            text-transform: None;
            &:hover {
                color: color($C2, a700);
            }
            &.highlight {
                transition: color 200ms ease-in-out;
                color: color($C3, a400);
                &:hover {
                    color: color($C2, a400);
                }
            }
        }
    }
}
@include config-widget();
.subpage /deep/ {
    @include config-widget();
}
