@import "../../_colors";

:host {
    display: block;
    background: transparent;
}
.container {
    height: 100%;
    background: white;
}
#pages {
    width: 100%;
    height: 460px;
}
.label {
    color: $black2;
    font-size: 16px;
    font-weight: 500;
    margin: 20px;
}
.outer {
    border-top: solid 1px $black4;
    min-height: 200px;
    .errorMsg {
        padding-top: 10px;
        width: 100%;
        text-align: center;
        color: color($C3, a400);
    }
    .inner {
        background: color($C1, 400);
        padding-left: 40px;
        padding-right: 40px;
        min-height: 200px;
    }
    #agree {
        text-align: left;
        padding-top: 20px;
        padding-left: 40px;
        a {
            color: $black1;
            &:hover {
                color: color($C2, 700);
            }
        }
        .checkbox {
            color: color($C2, 700);
            padding-right: 10px;
            &::shadow {
                #ink[checked] {
                    color: color($C1, 500);
                }
                #checkbox.checked {
                    border-color: color($C1, 500);
                }
            }
        }
    }
    #msg {
        padding: 40px 20px;
        color: white;
        background: color($C1, 400);
        word-wrap: break-word;
    }
    #logout {
        padding: 40px 20px;
        color: $black2;
        #userid {
            color: $black1;
            font-weight: 500;
        }
    }
    .action {
        padding: 40px 35px 0 35px;
        paper-button {
            background: color($C2, 700);
            border: solid 1px color($C2, 700);
            transition: background 420ms ease-in-out;
            color: white;
            &:hover {
                background: color($C2, 700);
            }
            &[disabled] {
                opacity: 0.5;
            }
        }
    }
}
.options {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    background: white;
    >div {
        padding: 0 10px;
    }
    paper-button {
        text-transform: None;
        &:hover {
            color: color($C2, 700);
        }
        &.highlight {
            transition: color 200ms ease-in-out;
            color: color($C3, a400);
            &:hover {
                color: color($C2, 700);
            }
        }
    }
}
.input {
    background: color($C1, 400);
    color: white;
    $placeholder-color: $white1;
    &[focused] {
        color: color($C2, 700);
    }
    /deep/::-webkit-input-placeholder {
        color: $placeholder-color;
    }
    /deep/::-moz-placeholder {
        color: $placeholder-color;
    }
    /deep/:-ms-input-placeholder {
        color: $placeholder-color;
    }
    /deep/ .label-text, /deep/ .error {
        color: $placeholder-color;
    }
    /deep/ .unfocused-underline {
        background-color: $white3;
    }
    /deep/ .floated-label .label-text {
        color: $white1;
        font-size: 13px;
    }
    /deep/ .focused-underline {
        background-color: color($C2, 700);
    }
    &[focused] /deep/ {
        .floated-label .label-text {
            color: $white1;
            font-size: 13px;
        }
    }
    &.invalid /deep/ .floated-label .label-text, /deep/ .error {
        color: $placeholder-color;
    }
    &.invalid /deep/ .focused-underline {
        background-color: color($C3, a400);
    }
}
