 @import "../../_colors";
 .axis path, .axis line {
     fill: none;
     stroke: $black2;
     shape-rendering: crispEdges;
 }
 .tick {
     line {
         stroke: $black4;
     }
     text {
         fill: $black2;
         font-size: 12px;
     }
 }

 path.line-buy {
     fill: none;
     stroke: color($green, 500);
     stroke-width: 2px;
 }
 path.line-sell {
     fill: none;
     stroke: color($red, 500);
     stroke-width: 2px;
 }
 .area-buy {
     fill: color($green, 300);
 }
 .area-sell {
     fill: color($red, 300);
 }
 .label {
     fill: $black2;
 }
