@import "../_colors";

@mixin theme($color) {
  cp-page {
    background: $magic-grey;
    color: $black1;
  }

  #drawer {
  	background: white;
  	color: black;
  }

  cp-page::shadow #toolbar {
    background: white;
    color:$black1;
  }

  cp-page::shadow cp-toolbar-button::shadow a {
    color:color($color, 600);
    &:hover {
       color:color($color, 600);
    }
  }

  cp-page::shadow #home {
    color: color($color, 600);
    text-decoration: none;
  }

  #xx {
    background: red;
    width: 100%;
  }

  #page-content {
    background: yellow;
  }
}

@include theme($grey);