@import "../_colors";

:host {
  box-sizing: border-box;
}

cp-page::shadow #toolbar {
  background: color($grey, 700);
  color:white;
}

cp-page::shadow cp-toolbar-button::shadow a {
  color:white;
  &:hover {
     color:white;
  }
}

#canvas {
  padding-top: 40px;
  width: 100%;
}

#canvas[small] {width: 768px}
#canvas[medium] {width: 992px}
#canvas[large] {width: 1200px}

cp-market-stat-card{
  width: 100%;
  max-width: 400px;
}

cp-market-stat-card[small] {width: 50%; }
cp-market-stat-card[medium] {width: 33%; }
cp-market-stat-card[large] {width: 25%; }