@import "../_colors";

@mixin theme() {
  :host {
    display: block;
  }

  #drawer {
    background: white;
    padding: 0;
  }

  #toolbar {
    color: white;

    a {
      color: white;
      height: 40px !important;
    }
  }

  cp-page::shadow cp-toolbar-button::shadow a {
    color:white;
    &:hover {
       color:white;
    }
  }

  core-icon-button {
    display:none;
  }

  core-icon-button[smallup] {
    display: initial;
  }

  #main {
    background: white;

    paper-tabs[smallup] {
      height: 0;
    }
  }

  #market-title {
    font-weight: 700;
  }

  cp-hasfooter::shadow #footer {
    border-top: solid 1px $black4;
  }
}

@include theme();