@import "../_colors";

:host {
  display: block;
}

#drawer {
  background: white;
  color: black;
  padding: 0;
}

#secondary-toolbar {
  background: color($blue, 500);
  color: white;

  a {
    color: white;
    height: 40px !important;
  }
}

cp-page::shadow #core_toolbar {
  background: color($blue, 500);
  color:white;

}

cp-page::shadow cp-toolbar-button::shadow a {
  color:white;
  &:hover {
     color:white;
  }
}

cp-market-stat-card {
}

#main {
  padding: 40px;
  height: 2034px;
  background: $magic-grey;
}