@import "../_colors";

@mixin theme($bgcolor) {
  :host {
    display: block;
    background: $bgcolor;
  }

  #drawer {
    background: white;
    padding: 0;
  }

  #toolbar {
    background: $bgcolor;
    color: $black1;

    a {
      color: $black1;
      height: 40px !important;
    }
  }

  cp-page::shadow cp-toolbar-button::shadow a {
    color:white;
    &:hover {
       color:white;
    }
  }

  #main {
    height: 2034px;
    background: $bgcolor;
  }

  #market-title {
    font-weight: 700;
  }

  cp-hasfooter::shadow #footer {
    background: $bgcolor;
    border-top: solid 1px $black4;
  }
}

@include theme(color($yellow, 300));