@import "../_colors";

:host {
  display: block;
  over-flow: scrool;
  height: 100%;
}

cp-page::shadow #core_toolbar {
  background: color($green, 500);
  color:white;
}

cp-page::shadow cp-toolbar-button::shadow a {
  color:white;
  &:hover {
     color:white;
  }
}