@import "../../_colors";
@import "../../_common";
.op {
    paper-icon-button {
        padding: 4px;
        &::shadow core-icon {
            height: 16px;
            width: 16px;
        }
        color: $white3;
        &:hover {
            color: $white1;
        }
        &:hover {
            color: color($C3, a200);
        }
    }
}
html /deep/ #confirmDialog::shadow {
    @include has-simple-table();
}

#noOrders {
    color: $white3;
    padding: 10px;
}