@import "../../_colors";
@import "../../_common";
$border-color:$black1;
$background-color: color($C4, 900);
$head-background-color: color($C4, 800);
$head-height: 36px;
:host {
    background: $head-background-color;
}
paper-button {
    border-radius: 0;
}
paper-tabs {
    height: $head-height;
    &::shadow {
        #selectionBar {
            background-color: transparent;
        }
    }
    >paper-tab::shadow #ink {
        color: color($C1, 500);
    }
}
paper-tab {
    background: $background-color;
    height: $head-height;
    font-weight: 700;
    color: $white1;
    font-size: 14px;
    text-transform: uppercase;
    &[active] {
        background: $head-background-color;
        color: $white1;
    }
}
.pages {
    height: 280px;
}
.content {
    background: $head-background-color;
}
.form {
    >div {
        height: 40px;
    }
    background: $head-background-color;
    padding: 20px;
    paper-button {
        background: $white1;
        color: $black1;
        &#doSell:hover {
            background: color($sell-color, 500);
            color: $white1;
        }
        &#doBuy:hover {
            background: color($buy-color, 500);
            color: $white1;
        }
        font-weight: bold;
        font-size: 14px;
        margin-top: 20px;
        &[disabled] {
            background: $white3;
        }
    }
    .note {
        color: $white3;
        text-align: center;
        padding-top: 10px;
    }
    input[is=core-input] {
        border: 1px solid $white4;
        padding: 8px 10px;
        border-radius: 2px;
        font-weight: bold;
        font-size: 14px;
        color: color($C1, 300);
    }
    .total {
        font-weight: bold;
        font-size: 14px;
    }
}
