@import "../../_colors";
@import "../../_common";
.actions {
    border-bottom: 1px solid $black4;
    paper-button:hover {
        color: color($C2, a400);
        core-icon.small {
            color: color($C2, a400);
        }
    }
}
.balance {
    padding: 4px 20px;
    text-align: center;
    nice-number {
        font-weight: bold;
        font-size: 14px;
    }
}
a {
    text-decoration: none;
    font-weight: bold;
    color: $black2;
    &:hover {
        color: color($C2, a700);
        text-decoration: underline;
    }
}
