@import "../../_colors";
@import "../../_common";
nice-number {
    color: color($C2, a400);
}
.up {
    color: color($sell-color, a200);
}
.down {
    color: color($buy-color, a200);
}
div.divider {
    margin: 0 10px;
    width: 1px;
    background: color($C1, 50)
}
div.stat {
    padding: 0 10px;
    text-align: right;
    :first-child {
        font-weight: bold;
        color: color($C1, 700);
    }
    :last-child {
        font-size: 12px;
        color: color($C1, 300);
    }
    .up {
        color: color($sell-color, 500);
    }
    .down {
        color: color($buy-color, 500);
    }
}
