@import "../../_colors";
@import "../../_common";
div.divider {
    margin: 0 10px;
    width: 1px;
    background: color($C1, 100)
}
div.stat {
    padding: 0 10px;
    text-align: right;
    color: $black1;
    nice-number {
        font-weight: bold;
    }
    .label {
        font-size: 12px;
        color: $black2;
    }
}
