@import "../_colors";
:host([active]) {
    #item {
        color: $secondary;
        background: $primary;
    }
}
:host(:hover) {
    #item {
        color: $secondary;
    }
}
#item {
    color: white;
    font-size: 13px;
}
#link {
    text-decoration: none;
    color: $black2;
}
#icon {
    backgroun: red;
}
