@import "../_colors";
$color:$blue;
#market-tabs {
    font-size: 13px;
    font-weight: 500px;
    &::shadow {
        #tabsContainer {
            background: white;
        }
        #selectionBar {
            background-color: color($color, 500);
        }
    }
    >paper-tab::shadow #ink {
        color: color($color, 500);
    }
}
