@import "../_colors";
$color: $green;
:host {
    box-sizing: border-box;
}
#canvas {
    padding-top: 40px;
    width: 100%;
}
stats-card {
    width: 100%;
    max-width: 400px;
}
#footer {
    display: none;
}
@media(min-width: 768px) and (max-width: 991px) {
    #canvas {
        width: 768px;
    }
    stats-card {
        width: 50%;
    }
}
@media(min-width: 992px) and (max-width: 1199px) {
    #canvas {
        width: 992px;
    }
    stats-card {
        width: 33%;
    }
}
@media(min-width: 1200px) {
    #canvas {
        width: 1200px;
    }
    stats-card {
        width: 25%;
    }
}
@media(min-width: 768px) {
    #footer {
        display: inherit;
    }
}
