@import "../_colors";
:host {
    box-sizing: border-box;
    background: transparent;
    min-width: 40%;
    display: block;
    a {
        color: $white2;
        text-decoration: none;
        &:hover {
            color: lighten($secondary, 10%);
            text-decoration: underline;
        }
    }
    .pay {
        a {
            color: color($deep-purple, 300);
            &:hover {
                color: color($amber, 300);
            }
        }
    }
    .group {
        padding: 20px;
    }
    .group-label {
        text-transform: uppercase;
        padding-bottom: 10px;
        color: $white3;
    }
    .link {
        padding-bottom: 5px;
    }
}
:host-context([light]) {
    a {
        color: $black2;
        &:hover {
            color: $secondary;
        }
    }
    .pay {
        a {
            color: color($deep-purple, 400);
            &:hover {
                color: color($amber, 400);
            }
        }
    }
    .group-label {
        color: $black3;
    }
}
