@import "../_colors";
@import "../_common";
:host {
    box-sizing: border-box;
    min-width: 40%;
    display: block;
    width:100%;
    .group {
        padding: 20px;
    }
    .group-label {
        text-transform: uppercase;
        padding-bottom: 10px;
        color: $white2;
    }
    .link {
        padding-bottom: 5px;
    }
    .pay {
        a {
            background-color: white;
            color: color($deep-purple, 500);
            padding-left: 6px;
            padding-right: 6px;
            border-radius: 3px;
            border: 1px solid color($deep-purple, 500);
            &:hover {
                background: color($deep-purple, 500);
                color: white !important;
            }
        }
    }
    @include config-link-on-primary-color();
}
:host-context([dark]) {
    .group-label {
        color: $black2;
    }
    @include config-link-on-white-color();
}
