@import "../_colors";
:host {
    display: block;
}
cp-page /deep/ #main {
    background: color($C1, 900);
}
#widget {
    width: 100%;
    padding: 20px 0;
}
@media(min-width:320px) {
    #widget {
        padding: 40px 0;
        width: 320px;
    }
}
