@import "../_colors";
@import "../_common";
:host {
    display: block;
}
cp-page /deep/ #main {
    ::content {
        min-height: 360px;
    }
}
#container {
    position: relative;
    @include diagonal-fill(color($C2, 100));
    min-height: 260px;
    width: 100%;
    overflow: hidden;
    member-widget {
        height: 360px;
        width: 320px;
        display: inline-block;
    }
}
@media(min-width:320px) {
    member-widget {
        margin-top: 40px;
        width: 320px;
    }
}
