@import "../../_colors";
@import "../../_common";
@include config-stats-card();

#stats {
    padding-bottom: 10px;
    table {
        border-collapse: collapse;
        border-spacing: 0px;
        td {
            &.l {
                text-align: right;
                color: $black3;
            }
            &.v {
                text-align: right;
                font-weight: 500;
                color: $black2;
                &.s {
                    color: color($C3, a400);
                }
            }
        }
    }
    #general {
        text-align: center;
        .l {
            text-transform: uppercase;
        }
        .v {
            font-size: 28px;
            font-weight: 100;
            text-align: center;
            color: color($C2, a700);
        }
        &:after {
            content: "";
            display: block;
            padding-top: 10px;
            height: 1px;
            width: 100%;
            border-top: solid 1px $black4;
        }
    }
}
