@import "../../_colors";
:host {
    width: 100%;
    display: block;
    padding: 20px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: white;
    &:hover {
        text-decoration: none;
    }
}
#shadow {
    transition: 2s cubic-bezier(0, 1, 1, 1);
    &:hover {
        transform: scale(1.04);
    }
}
#box {
    padding: 20px;
    background: $white1;
}
#head {
    color: $black1;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
    min-height: 25px;
}
#stats {
    padding-bottom: 10px;
    table {
        border-collapse: collapse;
        border-spacing: 0px;
        td {
            &.l {
                text-align: right;
                color: $black3;
            }
            &.v {
                text-align: right;
                font-weight: 500;
                color: $black2;
                &.s {
                    color: color($C3, a400);
                }
            }
        }
    }
    #general {
        text-align: center;
        .l {
            color: $black2;
            text-transform: uppercase;
        }
        .v {
            font-size: 28px;
            font-weight: 100;
            text-align: center;
            color: color($C2, a700);
        }
        &:after {
            content: "";
            display: block;
            padding-top: 10px;
            height: 1px;
            width: 100%;
            border-top: solid 1px $black4;
        }
    }
}
