@import "../../_colors";
@import "../../_common";
@include config-stats-card(0);
#stats {
    padding-bottom: 10px;
    table {
        border-collapse: collapse;
        border-spacing: 0px;
        tr {
         vertical-align:middle;
        }
        td {
            white-space: nowrap;
            &.l {
                text-align: right;
                color: $black3;
            }
            &.v {
                text-align: right;
                color: $black2;
                &.s {
                    color: color($C3, a400);
                }
                &.e {
                    color: color($C2, 400);
                }
            }
        }
    }
    #general {
        text-align: center;
        .l {
            text-transform: uppercase;
        }
        .v {
            font-size: 28px;
            font-weight: 100;
            text-align: center;
            color: color($C2, a700);
            padding: 0 4px;
        }
        &:after {
            content: "";
            display: block;
            padding-top: 10px;
            height: 1px;
            width: 100%;
            border-top: solid 1px $black4;
        }
    }
}
.warning {
    #stats #general {
        .v {
            border-radius: 3px;
            background: color($C3, a400);
            color: white;
        }
    }
}
