@import "../_colors";
@import "../_common";
$border-color: color($C1, 800);
$background-color: color($C1, 700);
$head-background-color: color($C1, 500);
:host {
    box-sizing: border-box;
}
//
#drawer {
    padding: 0;
    background: color($C1, 500);
}
#toolbar {
    @include config-toolbar();
    div.divider {
        margin: 0 10px;
        width: 1px;
        height: 60%;
        background: color($C1, 100);
    }
    div.stat {
        padding: 0 10px;
        font-weight: bold;
        :first-child {
            color: color($C1, 700);
        }
        :last-child {
            font-size: 12px;
            color: color($C1, 300);
        }
    }
}
#main {
    padding: 0 2px;
}
#main-panel {
    background: $background-color;
}
$head-height: 36px;
.column {
    min-width: 260px;
    width: 20%;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    .block {
        font-size: 12px;
        border-top: 2px solid $border-color;
        .head {
            height: $head-height;
            padding-left: 15px;
            background: $head-background-color;
            color: $white2;
            .title {
                font-weight: 700;
                color: white;
                font-size: 14px;
                text-transform: uppercase;
            }
        }
        .content {
            padding: 0 0 10px 0;
            color: $white2;
        }
    }
    &.wide {
        width: 40%;
    }
}
table.dense {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    th, td {
        text-align: right;
        padding: 0 1px;
    }
    thead {
        tr {
            color: $white2;
            height: 20px;
            padding: 0;
            border-bottom: 2px solid $head-background-color;
        }
        th {
            font-weight: 500;
        }
    }
    tbody {
        tr {
            padding: 2px;
            border-bottom: 1px solid rgba(white, 0.02);
            &:hover {
                background: $head-background-color;
            }
        }
        td#lastPrice {
            border-top: 1px solid $head-background-color;
            border-bottom: 1px solid $head-background-color;
            text-align: center;
            padding: 4px;
            color: color($C2, a400);
            font-weight: bold;
        }
    }
}
nice-number {
    color: $white1;
    &.buy {
        color: color($buy-color, a200);
    }
    &.sell {
        color: color($sell-color, a200);
    }
}
.idx {
    color: $white3;
}
#availableBalance {
    .content {
        color: white;
        .actions {
            border-bottom: 1px solid $head-background-color;
            paper-button:hover {
                color: color($C2, a400);
                core-icon.small {
                    color: color($C2, a700);
                }
            }
            core-icon.small {
                color: color($C1, 300);
            }
        }
        .balance {
            padding: 4px 20px;
            text-align: center;
        }
        a {
            text-decoration: none;
            font-weight: bold;
            color: $white2;
            &:hover {
                color: color($C2, a700);
                text-decoration: underline;
            }
        }
    }
}
#trade {
    paper-tabs {
        height: $head-height;
        &::shadow {
            #selectionBar {
                background-color: transparent;
            }
        }
        >paper-tab::shadow #ink {
            color: color($C2, a700);
        }
    }
    paper-tab {
        background: $background-color;
        height: $head-height;
        font-weight: 700;
        color: white;
        font-size: 14px;
        text-transform: uppercase;
        &[active] {
            background: $head-background-color;
            color: white;
        }
    }
    .pages {
        height: 242px;
    }
    .content {
        background: $head-background-color;
    }
    .form {
        >div {
            height: 40px;
        }
        background: $head-background-color;
        padding: 20px;
        paper-button {
            background: $white1;
            color: color($C1, 700);
            font-weight: bold;
            font-size: 14px;
            margin-top: 20px;
            &[disabled] {
                background: $white3;
            }
            &:hover {
                background: color($C2, a700);
                color: white;
            }
        }
        input[is=core-input] {
            border: 1px solid $white4;
            padding: 8px 10px;
            border-radius: 2px;
            color: white;
        }
    }
}
#orderbook {};
#depthchart {
    depth-chart {
        width: 100%;
        display: inline-block;
    }
}
paper-button {
    border-radius: 0;
}
