@import "../_colors";
@import "../_common";
$border-color:$black1;
$background-color: color($C4, 900);
$head-background-color: color($C4, 800);
:host {
    box-sizing: border-box;
}
//
#drawer {
    padding: 0;
    background: $white1;
}
#toolbar {
    @include config-toolbar();
}
#main {
    padding: 0 2px;
}
cp-drawer-page::shadow #drawer {
    padding: 0;
    background: color($C4, 500);
}
#main-panel {
    background: $background-color;
}
$head-height: 36px;
#toolbar-ticker {
    display: none;
}
#refresh {
    display: none;
}
.column {
    min-width: 260px;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    .block {
        font-size: 12px;
        border-top: 8px solid $border-color;
        .head {
            height: $head-height;
            padding-left: 15px;
            background: $head-background-color;
            color: $white2;
            .title {
                font-weight: 700;
                color: $white1;
                font-size: 14px;
                text-transform: uppercase;
            }
        }
        .content, .section {
            padding: 0 0 10px 0;
            color: $white2;
        }
    }
}
.section /deep/ {
    table.dense {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0px;
        th, td {
            text-align: right;
            padding: 0 1px;
        }
        thead {
            tr {
                color: $white2;
                height: 20px;
                padding: 2px;
                border-bottom: 2px solid $head-background-color;
            }
            th {
                font-weight: 500;
            }
        }
        tbody {
            tr {
                padding: 2px;
                border-bottom: 1px solid rgba(white, 0.02);
                &:hover {
                    background: $head-background-color;
                }
            }
            td#spread {
                border-top: 1px solid $head-background-color;
                border-bottom: 1px solid $head-background-color;
                text-align: center;
                padding: 4px;
                color: $white2;
                font-weight: bold;
                #container {
                    >div {
                        padding: 0 2px;
                    }
                }
            }
        }
    }
    .idx {
        color: $white3;
    }
    .buy {
        color: color($buy-color, a200);
    }
    .sell {
        color: color($sell-color, a200);
    }
}
@media(min-width: 768px) {
    #toolbar-ticker {
        display: inherit;
    }
    #ticker {
        display: none;
    }
    #refresh {
        display: inherit;
    }
    .column {
        .block {
            border-top: 2px solid $border-color;
        }
    }
}
